################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/MSBuild/msbuild.package/lib/OpenStrata.Deployment.Sdk.dll
