<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Local package feed - configure via environment variable: OPENSTRATA_LOCAL_PACKAGE_FEED -->
    <!-- <add key="local" value="%OPENSTRATA_LOCAL_PACKAGE_FEED%"  /> -->	  
  </packageSources>
</configuration>